
<div class="row header" >
    <div style="flex: 0 0 2em;"><img class="logo" style="margin-top: -9px; margin-left: 43px" src="../assets/myntra-logo.png"><span style="margin-left: 50px;color: #d81174;">clone</span></div>
     <div class="men" >
      MEN
      <div class="dropdown-content" style="margin-left: -10px;">
       <div style="padding: 0px;" class="row">
        <div style="padding: 0px;" class="col">
          <p style="text-align: left;padding-left: 41px;color: #ee5f73;">Topwear</p>
          <a style="margin-right: -41px;" href="#"> T-Shirts</a>
          <a style="margin-right: -41px;" href="#">Casual Shirts</a>
          <a style="margin-right: -41px;" href="#">Formal Shirts</a>
          <a style="margin-right: -41px;" href="#">Sweatshirts</a>
          <a style="margin-right: -41px;" href="#">Sweaters</a>
          <a style="margin-right: -41px;" href="#">Jackets</a>
          <a style="margin-right: -41px;" href="#">Blazers & Coats</a>
          <a style="margin-right: -41px;" href="#">Suits</a>
          <a style="margin-right: -41px;" href="#">Rain Jackets</a>
        </div>
        <div style="padding: 0px;" class="col">
          <p style="text-align: left;padding-left: 41px;color: #ee5f73;">Topwear</p>
          <a style="margin-right: -41px;" href="#"> T-Shirts</a>
          <a style="margin-right: -41px;" href="#">Casual Shirts</a>
          <a style="margin-right: -41px;" href="#">Formal Shirts</a>
          <a style="margin-right: -41px;" href="#">Sweatshirts</a>
          <a style="margin-right: -41px;" href="#">Sweaters</a>
          <a style="margin-right: -41px;" href="#">Jackets</a>
          <a style="margin-right: -41px;" href="#">Blazers & Coats</a>
          <a style="margin-right: -41px;" href="#">Suits</a>
          <a style="margin-right: -41px;" href="#">Rain Jackets</a>
        </div>
        <div style="padding: 0px;" class="col">
          <p style="text-align: left;padding-left: 41px;color: #ee5f73;">Topwear</p>
          <a style="margin-right: -41px;" href="#"> T-Shirts</a>
          <a style="margin-right: -41px;" href="#">Casual Shirts</a>
          <a style="margin-right: -41px;" href="#">Formal Shirts</a>
          <a style="margin-right: -41px;" href="#">Sweatshirts</a>
          <a style="margin-right: -41px;" href="#">Sweaters</a>
          <a style="margin-right: -41px;" href="#">Jackets</a>
          <a style="margin-right: -41px;" href="#">Blazers & Coats</a>
          <a style="margin-right: -41px;" href="#">Suits</a>
          <a style="margin-right: -41px;" href="#">Rain Jackets</a>
        </div>
        <div style="padding: 0px;" class="col">
          <p style="text-align: left;padding-left: 41px;color: #ee5f73;">Topwear</p>
          <a style="margin-right: -41px;" href="#"> T-Shirts</a>
          <a style="margin-right: -41px;" href="#">Casual Shirts</a>
          <a style="margin-right: -41px;" href="#">Formal Shirts</a>
          <a style="margin-right: -41px;" href="#">Sweatshirts</a>
          <a style="margin-right: -41px;" href="#">Sweaters</a>
          <a style="margin-right: -41px;" href="#">Jackets</a>
          <a style="margin-right: -41px;" href="#">Blazers & Coats</a>
          <a style="margin-right: -41px;" href="#">Suits</a>
          <a style="margin-right: -41px;" href="#">Rain Jackets</a>
        </div>
   
      </div> 
      <div style="padding: 0px;margin-top: 32px;margin-bottom: 33px;" class="row">
        <div style="padding: 0px;" class="col">
          <p style="text-align: left;padding-left: 41px;color: #ee5f73;">Topwear</p>
          <a style="margin-right: -41px;" href="#"> T-Shirts</a>
          <a style="margin-right: -41px;" href="#">Casual Shirts</a>
          <a style="margin-right: -41px;" href="#">Formal Shirts</a>
          <a style="margin-right: -41px;" href="#">Sweatshirts</a>
        
        </div>
        <div style="padding: 0px;" class="col">
          <p style="text-align: left;padding-left: 41px;color: #ee5f73;">Topwear</p>
          <a style="margin-right: -41px;" href="#"> T-Shirts</a>
          <a style="margin-right: -41px;" href="#">Casual Shirts</a>
          <a style="margin-right: -41px;" href="#">Formal Shirts</a>
          <a style="margin-right: -41px;" href="#">Sweatshirts</a>
      
        </div>
        <div style="padding: 0px;" class="col">
          <p style="text-align: left;padding-left: 41px;color: #ee5f73;">Topwear</p>
          <a style="margin-right: -41px;" href="#"> T-Shirts</a>
          <a style="margin-right: -41px;" href="#">Casual Shirts</a>
          <a style="margin-right: -41px;" href="#">Formal Shirts</a>
          <a style="margin-right: -41px;" href="#">Sweatshirts</a>
         
        </div>
        <div style="padding: 0px;" class="col">
          <p style="text-align: left;padding-left: 41px;color: #ee5f73;">Topwear</p>
          <a style="margin-right: -41px;" href="#"> T-Shirts</a>
          <a style="margin-right: -41px;" href="#">Casual Shirts</a>
          <a style="margin-right: -41px;" href="#">Formal Shirts</a>
          <a style="margin-right: -41px;" href="#">Sweatshirts</a>
         
        </div>
      </div> 
      </div>
    </div>
    <div class="women">
      WOMEN
      <div class="dropdown-content" style="margin-left: -75px">
        <div style="padding: 0px;" class="row">
         <div style="padding: 0px;" class="col">
           <p style="text-align: left;padding-left: 41px;color: #fb56c1">Topwear</p>
           <a style="margin-right: -41px;" href="#"> T-Shirts</a>
           <a style="margin-right: -41px;" href="#">Casual Shirts</a>
           <a style="margin-right: -41px;" href="#">Formal Shirts</a>
           <a style="margin-right: -41px;" href="#">Sweatshirts</a>
           <a style="margin-right: -41px;" href="#">Sweaters</a>
           <a style="margin-right: -41px;" href="#">Jackets</a>
           <a style="margin-right: -41px;" href="#">Blazers & Coats</a>
           <a style="margin-right: -41px;" href="#">Suits</a>
           <a style="margin-right: -41px;" href="#">Rain Jackets</a>
         </div>
         <div style="padding: 0px;" class="col">
           <p style="text-align: left;padding-left: 41px;color: #fb56c1">Topwear</p>
           <a style="margin-right: -41px;" href="#"> T-Shirts</a>
           <a style="margin-right: -41px;" href="#">Casual Shirts</a>
           <a style="margin-right: -41px;" href="#">Formal Shirts</a>
           <a style="margin-right: -41px;" href="#">Sweatshirts</a>
           <a style="margin-right: -41px;" href="#">Sweaters</a>
           <a style="margin-right: -41px;" href="#">Jackets</a>
           <a style="margin-right: -41px;" href="#">Blazers & Coats</a>
           <a style="margin-right: -41px;" href="#">Suits</a>
           <a style="margin-right: -41px;" href="#">Rain Jackets</a>
         </div>
         <div style="padding: 0px;" class="col">
           <p style="text-align: left;padding-left: 41px;color: #fb56c1">Topwear</p>
           <a style="margin-right: -41px;" href="#"> T-Shirts</a>
           <a style="margin-right: -41px;" href="#">Casual Shirts</a>
           <a style="margin-right: -41px;" href="#">Formal Shirts</a>
           <a style="margin-right: -41px;" href="#">Sweatshirts</a>
           <a style="margin-right: -41px;" href="#">Sweaters</a>
           <a style="margin-right: -41px;" href="#">Jackets</a>
           <a style="margin-right: -41px;" href="#">Blazers & Coats</a>
           <a style="margin-right: -41px;" href="#">Suits</a>
           <a style="margin-right: -41px;" href="#">Rain Jackets</a>
         </div>
         <div style="padding: 0px;" class="col">
           <p style="text-align: left;padding-left: 41px;color: #fb56c1">Topwear</p>
           <a style="margin-right: -41px;" href="#"> T-Shirts</a>
           <a style="margin-right: -41px;" href="#">Casual Shirts</a>
           <a style="margin-right: -41px;" href="#">Formal Shirts</a>
           <a style="margin-right: -41px;" href="#">Sweatshirts</a>
           <a style="margin-right: -41px;" href="#">Sweaters</a>
           <a style="margin-right: -41px;" href="#">Jackets</a>
           <a style="margin-right: -41px;" href="#">Blazers & Coats</a>
           <a style="margin-right: -41px;" href="#">Suits</a>
           <a style="margin-right: -41px;" href="#">Rain Jackets</a>
         </div>
    
       </div> 
       <div style="padding: 0px;margin-top: 32px;margin-bottom: 33px;" class="row">
         <div style="padding: 0px;" class="col">
           <p style="text-align: left;padding-left: 41px;color: #fb56c1">Topwear</p>
           <a style="margin-right: -41px;" href="#"> T-Shirts</a>
           <a style="margin-right: -41px;" href="#">Casual Shirts</a>
           <a style="margin-right: -41px;" href="#">Formal Shirts</a>
           <a style="margin-right: -41px;" href="#">Sweatshirts</a>
         
         </div>
         <div style="padding: 0px;" class="col">
           <p style="text-align: left;padding-left: 41px;color: #fb56c1">Topwear</p>
           <a style="margin-right: -41px;" href="#"> T-Shirts</a>
           <a style="margin-right: -41px;" href="#">Casual Shirts</a>
           <a style="margin-right: -41px;" href="#">Formal Shirts</a>
           <a style="margin-right: -41px;" href="#">Sweatshirts</a>
       
         </div>
         <div style="padding: 0px;" class="col">
           <p style="text-align: left;padding-left: 41px;color: #fb56c1">Topwear</p>
           <a style="margin-right: -41px;" href="#"> T-Shirts</a>
           <a style="margin-right: -41px;" href="#">Casual Shirts</a>
           <a style="margin-right: -41px;" href="#">Formal Shirts</a>
           <a style="margin-right: -41px;" href="#">Sweatshirts</a>
          
         </div>
         <div style="padding: 0px;" class="col">
           <p style="text-align: left;padding-left: 41px;color: #fb56c1">Topwear</p>
           <a style="margin-right: -41px;" href="#"> T-Shirts</a>
           <a style="margin-right: -41px;" href="#">Casual Shirts</a>
           <a style="margin-right: -41px;" href="#">Formal Shirts</a>
           <a style="margin-right: -41px;" href="#">Sweatshirts</a>
          
         </div>
       </div> 
       </div>
    </div> 
    <div class="kids">KIDS
      <div class="dropdown-content" style="margin-left: -154px;">
        <div style="padding: 0px;" class="row">
         <div style="padding: 0px;" class="col">
           <p style="text-align: left;padding-left: 41px;color: #ee5f73;">Topwear</p>
           <a style="margin-right: -41px;" href="#"> T-Shirts</a>
           <a style="margin-right: -41px;" href="#">Casual Shirts</a>
           <a style="margin-right: -41px;" href="#">Formal Shirts</a>
           <a style="margin-right: -41px;" href="#">Sweatshirts</a>
           <a style="margin-right: -41px;" href="#">Sweaters</a>
           <a style="margin-right: -41px;" href="#">Jackets</a>
           <a style="margin-right: -41px;" href="#">Blazers & Coats</a>
           <a style="margin-right: -41px;" href="#">Suits</a>
           <a style="margin-right: -41px;" href="#">Rain Jackets</a>
         </div>
         <div style="padding: 0px;" class="col">
           <p style="text-align: left;padding-left: 41px;color: #ee5f73;">Topwear</p>
           <a style="margin-right: -41px;" href="#"> T-Shirts</a>
           <a style="margin-right: -41px;" href="#">Casual Shirts</a>
           <a style="margin-right: -41px;" href="#">Formal Shirts</a>
           <a style="margin-right: -41px;" href="#">Sweatshirts</a>
           <a style="margin-right: -41px;" href="#">Sweaters</a>
           <a style="margin-right: -41px;" href="#">Jackets</a>
           <a style="margin-right: -41px;" href="#">Blazers & Coats</a>
           <a style="margin-right: -41px;" href="#">Suits</a>
           <a style="margin-right: -41px;" href="#">Rain Jackets</a>
         </div>
         <div style="padding: 0px;" class="col">
           <p style="text-align: left;padding-left: 41px;color:#ee5f73;">Topwear</p>
           <a style="margin-right: -41px;" href="#"> T-Shirts</a>
           <a style="margin-right: -41px;" href="#">Casual Shirts</a>
           <a style="margin-right: -41px;" href="#">Formal Shirts</a>
           <a style="margin-right: -41px;" href="#">Sweatshirts</a>
           <a style="margin-right: -41px;" href="#">Sweaters</a>
           <a style="margin-right: -41px;" href="#">Jackets</a>
           <a style="margin-right: -41px;" href="#">Blazers & Coats</a>
           <a style="margin-right: -41px;" href="#">Suits</a>
           <a style="margin-right: -41px;" href="#">Rain Jackets</a>
         </div>
         <div style="padding: 0px;" class="col">
           <p style="text-align: left;padding-left: 41px;color: #ee5f73;">Topwear</p>
           <a style="margin-right: -41px;" href="#"> T-Shirts</a>
           <a style="margin-right: -41px;" href="#">Casual Shirts</a>
           <a style="margin-right: -41px;" href="#">Formal Shirts</a>
           <a style="margin-right: -41px;" href="#">Sweatshirts</a>
           <a style="margin-right: -41px;" href="#">Sweaters</a>
           <a style="margin-right: -41px;" href="#">Jackets</a>
           <a style="margin-right: -41px;" href="#">Blazers & Coats</a>
           <a style="margin-right: -41px;" href="#">Suits</a>
           <a style="margin-right: -41px;" href="#">Rain Jackets</a>
         </div>
    
       </div> 
       <div style="padding: 0px;margin-top: 32px;margin-bottom: 33px;" class="row">
         <div style="padding: 0px;" class="col">
           <p style="text-align: left;padding-left: 41px;color: #ee5f73;">Topwear</p>
           <a style="margin-right: -41px;" href="#"> T-Shirts</a>
           <a style="margin-right: -41px;" href="#">Casual Shirts</a>
           <a style="margin-right: -41px;" href="#">Formal Shirts</a>
           <a style="margin-right: -41px;" href="#">Sweatshirts</a>
         
         </div>
         <div style="padding: 0px;" class="col">
           <p style="text-align: left;padding-left: 41px;color: #ee5f73;">Topwear</p>
           <a style="margin-right: -41px;" href="#"> T-Shirts</a>
           <a style="margin-right: -41px;" href="#">Casual Shirts</a>
           <a style="margin-right: -41px;" href="#">Formal Shirts</a>
           <a style="margin-right: -41px;" href="#">Sweatshirts</a>
       
         </div>
         <div style="padding: 0px;" class="col">
           <p style="text-align: left;padding-left: 41px;color: #ee5f73;">Topwear</p>
           <a style="margin-right: -41px;" href="#"> T-Shirts</a>
           <a style="margin-right: -41px;" href="#">Casual Shirts</a>
           <a style="margin-right: -41px;" href="#">Formal Shirts</a>
           <a style="margin-right: -41px;" href="#">Sweatshirts</a>
          
         </div>
         <div style="padding: 0px;" class="col">
           <p style="text-align: left;padding-left: 41px;color: #ee5f73;">Topwear</p>
           <a style="margin-right: -41px;" href="#"> T-Shirts</a>
           <a style="margin-right: -41px;" href="#">Casual Shirts</a>
           <a style="margin-right: -41px;" href="#">Formal Shirts</a>
           <a style="margin-right: -41px;" href="#">Sweatshirts</a>
          
         </div>
       </div> 
       </div>
    </div>
   <div class="hnl" >HOME & LIVING
    <div class="dropdown-content" style="margin-left: -219px;">
      <div style="padding: 0px;" class="row">
       <div style="padding: 0px;" class="col">
         <p style="text-align: left;padding-left: 41px;color: #f2c210">Topwear</p>
         <a style="margin-right: -41px;" href="#"> T-Shirts</a>
         <a style="margin-right: -41px;" href="#">Casual Shirts</a>
         <a style="margin-right: -41px;" href="#">Formal Shirts</a>
         <a style="margin-right: -41px;" href="#">Sweatshirts</a>
         <a style="margin-right: -41px;" href="#">Sweaters</a>
         <a style="margin-right: -41px;" href="#">Jackets</a>
         <a style="margin-right: -41px;" href="#">Blazers & Coats</a>
         <a style="margin-right: -41px;" href="#">Suits</a>
         <a style="margin-right: -41px;" href="#">Rain Jackets</a>
       </div>
       <div style="padding: 0px;" class="col">
         <p style="text-align: left;padding-left: 41px;color: #f2c210">Topwear</p>
         <a style="margin-right: -41px;" href="#"> T-Shirts</a>
         <a style="margin-right: -41px;" href="#">Casual Shirts</a>
         <a style="margin-right: -41px;" href="#">Formal Shirts</a>
         <a style="margin-right: -41px;" href="#">Sweatshirts</a>
         <a style="margin-right: -41px;" href="#">Sweaters</a>
         <a style="margin-right: -41px;" href="#">Jackets</a>
         <a style="margin-right: -41px;" href="#">Blazers & Coats</a>
         <a style="margin-right: -41px;" href="#">Suits</a>
         <a style="margin-right: -41px;" href="#">Rain Jackets</a>
       </div>
       <div style="padding: 0px;" class="col">
         <p style="text-align: left;padding-left: 41px;color:#f2c210">Topwear</p>
         <a style="margin-right: -41px;" href="#"> T-Shirts</a>
         <a style="margin-right: -41px;" href="#">Casual Shirts</a>
         <a style="margin-right: -41px;" href="#">Formal Shirts</a>
         <a style="margin-right: -41px;" href="#">Sweatshirts</a>
         <a style="margin-right: -41px;" href="#">Sweaters</a>
         <a style="margin-right: -41px;" href="#">Jackets</a>
         <a style="margin-right: -41px;" href="#">Blazers & Coats</a>
         <a style="margin-right: -41px;" href="#">Suits</a>
         <a style="margin-right: -41px;" href="#">Rain Jackets</a>
       </div>
       <div style="padding: 0px;" class="col">
         <p style="text-align: left;padding-left: 41px;color: #f2c210">Topwear</p>
         <a style="margin-right: -41px;" href="#"> T-Shirts</a>
         <a style="margin-right: -41px;" href="#">Casual Shirts</a>
         <a style="margin-right: -41px;" href="#">Formal Shirts</a>
         <a style="margin-right: -41px;" href="#">Sweatshirts</a>
         <a style="margin-right: -41px;" href="#">Sweaters</a>
         <a style="margin-right: -41px;" href="#">Jackets</a>
         <a style="margin-right: -41px;" href="#">Blazers & Coats</a>
         <a style="margin-right: -41px;" href="#">Suits</a>
         <a style="margin-right: -41px;" href="#">Rain Jackets</a>
       </div>
  
     </div> 
     <div style="padding: 0px;margin-top: 32px;margin-bottom: 33px;" class="row">
       <div style="padding: 0px;" class="col">
         <p style="text-align: left;padding-left: 41px;color: #f2c210">Topwear</p>
         <a style="margin-right: -41px;" href="#"> T-Shirts</a>
         <a style="margin-right: -41px;" href="#">Casual Shirts</a>
         <a style="margin-right: -41px;" href="#">Formal Shirts</a>
         <a style="margin-right: -41px;" href="#">Sweatshirts</a>
       
       </div>
       <div style="padding: 0px;" class="col">
         <p style="text-align: left;padding-left: 41px;color: #f2c210">Topwear</p>
         <a style="margin-right: -41px;" href="#"> T-Shirts</a>
         <a style="margin-right: -41px;" href="#">Casual Shirts</a>
         <a style="margin-right: -41px;" href="#">Formal Shirts</a>
         <a style="margin-right: -41px;" href="#">Sweatshirts</a>
     
       </div>
       <div style="padding: 0px;" class="col">
         <p style="text-align: left;padding-left: 41px;color: #f2c210">Topwear</p>
         <a style="margin-right: -41px;" href="#"> T-Shirts</a>
         <a style="margin-right: -41px;" href="#">Casual Shirts</a>
         <a style="margin-right: -41px;" href="#">Formal Shirts</a>
         <a style="margin-right: -41px;" href="#">Sweatshirts</a>
        
       </div>
       <div style="padding: 0px;" class="col">
         <p style="text-align: left;padding-left: 41px;color: #f2c210">Topwear</p>
         <a style="margin-right: -41px;" href="#"> T-Shirts</a>
         <a style="margin-right: -41px;" href="#">Casual Shirts</a>
         <a style="margin-right: -41px;" href="#">Formal Shirts</a>
         <a style="margin-right: -41px;" href="#">Sweatshirts</a>
        
       </div>
     </div> 
     </div>
   </div> 
   <div class="beauty">BEAUTY
    <div class="dropdown-content" style="margin-left: -349px;">
      <div style="padding: 0px;" class="row">
       <div style="padding: 0px;" class="col">
         <p style="text-align: left;padding-left: 41px;color: #0db7af">Topwear</p>
         <a style="margin-right: -41px;" href="#"> T-Shirts</a>
         <a style="margin-right: -41px;" href="#">Casual Shirts</a>
         <a style="margin-right: -41px;" href="#">Formal Shirts</a>
         <a style="margin-right: -41px;" href="#">Sweatshirts</a>
         <a style="margin-right: -41px;" href="#">Sweaters</a>
         <a style="margin-right: -41px;" href="#">Jackets</a>
         <a style="margin-right: -41px;" href="#">Blazers & Coats</a>
         <a style="margin-right: -41px;" href="#">Suits</a>
         <a style="margin-right: -41px;" href="#">Rain Jackets</a>
       </div>
       <div style="padding: 0px;" class="col">
         <p style="text-align: left;padding-left: 41px;color: #0db7af">Topwear</p>
         <a style="margin-right: -41px;" href="#"> T-Shirts</a>
         <a style="margin-right: -41px;" href="#">Casual Shirts</a>
         <a style="margin-right: -41px;" href="#">Formal Shirts</a>
         <a style="margin-right: -41px;" href="#">Sweatshirts</a>
         <a style="margin-right: -41px;" href="#">Sweaters</a>
         <a style="margin-right: -41px;" href="#">Jackets</a>
         <a style="margin-right: -41px;" href="#">Blazers & Coats</a>
         <a style="margin-right: -41px;" href="#">Suits</a>
         <a style="margin-right: -41px;" href="#">Rain Jackets</a>
       </div>
       <div style="padding: 0px;" class="col">
         <p style="text-align: left;padding-left: 41px;color:#0db7af">Topwear</p>
         <a style="margin-right: -41px;" href="#"> T-Shirts</a>
         <a style="margin-right: -41px;" href="#">Casual Shirts</a>
         <a style="margin-right: -41px;" href="#">Formal Shirts</a>
         <a style="margin-right: -41px;" href="#">Sweatshirts</a>
         <a style="margin-right: -41px;" href="#">Sweaters</a>
         <a style="margin-right: -41px;" href="#">Jackets</a>
         <a style="margin-right: -41px;" href="#">Blazers & Coats</a>
         <a style="margin-right: -41px;" href="#">Suits</a>
         <a style="margin-right: -41px;" href="#">Rain Jackets</a>
       </div>
       <div style="padding: 0px;" class="col">
         <p style="text-align: left;padding-left: 41px;color: #0db7af">Topwear</p>
         <a style="margin-right: -41px;" href="#"> T-Shirts</a>
         <a style="margin-right: -41px;" href="#">Casual Shirts</a>
         <a style="margin-right: -41px;" href="#">Formal Shirts</a>
         <a style="margin-right: -41px;" href="#">Sweatshirts</a>
         <a style="margin-right: -41px;" href="#">Sweaters</a>
         <a style="margin-right: -41px;" href="#">Jackets</a>
         <a style="margin-right: -41px;" href="#">Blazers & Coats</a>
         <a style="margin-right: -41px;" href="#">Suits</a>
         <a style="margin-right: -41px;" href="#">Rain Jackets</a>
       </div>
  
     </div> 
     <div style="padding: 0px;margin-top: 32px;margin-bottom: 33px;" class="row">
       <div style="padding: 0px;" class="col">
         <p style="text-align: left;padding-left: 41px;color: #0db7af">Topwear</p>
         <a style="margin-right: -41px;" href="#"> T-Shirts</a>
         <a style="margin-right: -41px;" href="#">Casual Shirts</a>
         <a style="margin-right: -41px;" href="#">Formal Shirts</a>
         <a style="margin-right: -41px;" href="#">Sweatshirts</a>
       
       </div>
       <div style="padding: 0px;" class="col">
         <p style="text-align: left;padding-left: 41px;color: #0db7af">Topwear</p>
         <a style="margin-right: -41px;" href="#"> T-Shirts</a>
         <a style="margin-right: -41px;" href="#">Casual Shirts</a>
         <a style="margin-right: -41px;" href="#">Formal Shirts</a>
         <a style="margin-right: -41px;" href="#">Sweatshirts</a>
     
       </div>
       <div style="padding: 0px;" class="col">
         <p style="text-align: left;padding-left: 41px;color: #0db7af">Topwear</p>
         <a style="margin-right: -41px;" href="#"> T-Shirts</a>
         <a style="margin-right: -41px;" href="#">Casual Shirts</a>
         <a style="margin-right: -41px;" href="#">Formal Shirts</a>
         <a style="margin-right: -41px;" href="#">Sweatshirts</a>
        
       </div>
       <div style="padding: 0px;" class="col">
         <p style="text-align: left;padding-left: 41px;color: #0db7af">Topwear</p>
         <a style="margin-right: -41px;" href="#"> T-Shirts</a>
         <a style="margin-right: -41px;" href="#">Casual Shirts</a>
         <a style="margin-right: -41px;" href="#">Formal Shirts</a>
         <a style="margin-right: -41px;" href="#">Sweatshirts</a>
        
       </div>
     </div> 
     </div>
   </div>
   <div class="studio">STUDIO
    <div class="dropdown-content" style="margin-left: -250px;">
       <img src="../assets/studioimage.png" style="width: 560px; height: 400px;" />
    </div>
   </div>
   <!-- <div class="dropdown">
    <div class="men" >MEN</div>
    <div class="women">WOMEN</div> 
    <div class="kids">KIDS</div>
    <div class="hnl" >HOME & LIVING</div> 
    <div class="beauty">BEAUTY</div>
    <div class="studio">STUDIO</div>
    <div class="dropdown-content">
      <div style="width:500px;height:100px;background-color: red;"></div>
    </div>
  </div> -->
   <div class="search"><input style="width: 567px;margin-left: 46px;border: none;background-color: #f0f0f0;padding: 11px 49px;border-radius: 4px;margin-top: -9px;" type="text" placeholder="Search for products, brand and more"/></div>
   <div style="flex:0;margin-top: -10px;" class="profile"><mat-icon style="margin-left: 8px">perm_identity</mat-icon><span>Profile</span>
    <div class="dropdown-content" style="margin-left: -101px; margin-top: 14px;">
      <div style="padding: 0px;" class="row">
       <div style="padding: 0px;" class="col">
        <a routerLink="login"> <p style="text-align: left; color: #ee5f73">{{displayname}}</p></a>
         <a style="margin-right: -41px;" href="#"> T-Shirts</a>
         <a style="margin-right: -41px;" href="#">Casual Shirts</a>
         <a style="margin-right: -41px;" href="#">Formal Shirts</a>
         <a style="margin-right: -41px;" href="#">Sweatshirts</a>
         <a style="margin-right: -41px;" href="#">Sweaters</a>
         <a style="margin-right: -41px;" href="#">Jackets</a>
         <a style="margin-right: -41px;" href="#">Blazers & Coats</a>
         <a style="margin-right: -41px;" href="#">Suits</a>
         <a (click)="signoutuser()"> <p style="text-align: left;color: #ee5f73">SignOut</p></a>
       </div>
    
  
     </div> 
     </div>
  </div>
   <div style="flex: 0;margin-top: -10px;margin-right: 23px;"><mat-icon style="margin-left: 8px">favorite_border</mat-icon><span>Wishlist</span></div> 
   <div style="flex: 0;margin-top: -10px;margin-right: 27px;margin-left: -21px;"><mat-icon class="material-icons-outlined">shopping_bag</mat-icon><span>Bag</span></div>
  </div>
	<ngb-carousel [showNavigationArrows]="false">
		<ng-template  *ngFor="let img of slides" ngbSlide>
			<div class="carousal-wrapper">
				<img style="height: -webkit-fill-available;" src="assets/{{img.url}}" alt="Random first slide" />
			</div>
		</ng-template>
	</ngb-carousel>

  <div style="
  margin-top: 88px;
  font-size: 27px;
  margin-left: 28px;
  font-weight: 700;
  color: #333333;
  letter-spacing: 3px;
  margin-bottom: 70px;
">
    MEDAL WORTHY BRANDS TO BAG
  </div>
  <ngb-carousel [showNavigationArrows]="false">
		<ng-template  *ngFor="let img of slides2" ngbSlide>
			<div class="carousal-wrapper">
				<img style="height: -webkit-fill-available;" src="assets/{{img.url}}" alt="Random first slide" />
			</div>
		</ng-template>
	</ngb-carousel>
  
  <div style="
  margin-top: 88px;
  font-size: 27px;
  margin-left: 28px;
  font-weight: 700;
  color: #333333;
  letter-spacing: 3px;
  margin-bottom: 70px;
">
   GRAND GLOBAL BRANDS
  </div>
  <ngb-carousel [showNavigationArrows]="false">
		<ng-template  *ngFor="let img of slides3" ngbSlide>
			<div class="carousal-wrapper">
				<img style="height: -webkit-fill-available;" src="assets/{{img.url}}" alt="Random first slide" />
			</div>
		</ng-template>
	</ngb-carousel>

  <div style="
  margin-top: 88px;
  font-size: 27px;
  margin-left: 28px;
  font-weight: 700;
  color: #333333;
  letter-spacing: 3px;
  margin-bottom: 70px;
">
   SHOP BY CATEGORY
  </div>
  <div>
    <div class="row" style="width: 87%; margin: 0 auto;margin-bottom: 29px;">
      <div class="col"><img src="../assets/1.png" style="height: 265px;" /></div>
      <div class="col"><img src="../assets/2.png" style="height: 265px;" /></div>
      <div class="col"><img src="../assets/3.png" style="height: 265px;" /></div>
      <div class="col"><img src="../assets/4.png" style="height: 265px;" /></div>
      <div class="col"><img src="../assets/5.png" style="height: 265px;" /></div>
      <div class="col"><img src="../assets/6.png" style="height: 265px;" /></div>
    </div>
    <div class="row" style="width: 87%; margin: 0 auto;margin-bottom: 29px;">
      <div class="col"><img src="../assets/7.png" style="height: 265px;" /></div>
      <div class="col"><img src="../assets/8.png" style="height: 265px;" /></div>
      <div class="col"><img src="../assets/9.png" style="height: 265px;" /></div>
      <div class="col"><img src="../assets/10.png" style="height: 265px;" /></div>
      <div class="col"><img src="../assets/11.png" style="height: 265px;" /></div>
      <div class="col"><img src="../assets/12.png" style="height: 265px;" /></div>
    </div>
    <div class="row" style="width: 87%; margin: 0 auto;margin-bottom: 29px;">
      <div class="col"><img src="../assets/13.png" style="height: 265px;" /></div>
      <div class="col"><img src="../assets/14.png" style="height: 265px;" /></div>
      <div class="col"><img src="../assets/15.png" style="height: 265px;" /></div>
      <div class="col"><img src="../assets/16.png" style="height: 265px;" /></div>
      <div class="col"><img src="../assets/17.png" style="height: 265px;" /></div>
      <div class="col"><img src="../assets/18.png" style="height: 265px;" /></div>
    </div>
    <div class="row" style="width: 87%; margin: 0 auto;margin-bottom: 29px;">
      <div class="col"><img src="../assets/19.png" style="height: 265px;" /></div>
      <div class="col"><img src="../assets/20.png" style="height: 265px;" /></div>
      <div class="col"><img src="../assets/21.png" style="height: 265px;" /></div>
      <div class="col"><img src="../assets/22.png" style="height: 265px;" /></div>
      <div class="col"><img src="../assets/23.png" style="height: 265px;" /></div>
      <div class="col"><img src="../assets/24.png" style="height: 265px;" /></div>
    </div>
    <div class="row" style="width: 44%; margin: 0 auto;margin-bottom: 29px;">
      <div class="col"><img src="../assets/25.png" style="height: 265px;" /></div>
      <div class="col"><img src="../assets/26.png" style="height: 265px;" /></div>
      <div class="col"><img src="../assets/27.png" style="height: 265px;" /></div>
    </div>
  </div>